.placeholder {
  text-align: center;

  img {
    height: 60px;
  }
}

.icon {
  height: 60px;
  background: no-repeat center / cover;
  margin-bottom: 5px;
  border-radius: 6px;
}

.select {
  width: 100px;
}
