.wrapper {
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background: url('../../../shared/img/sides.jpg') no-repeat center / cover;
}

.team {
  text-align: center;
  margin: 0 auto 10px;
  width: 300px;
}

.cup {
  color: black;
}

.buttons {
  width: 100%;
  margin-top: 9px;
}

.comment {
  height: 120px;
  overflow: auto;
  margin-left: 20px;
}
