.wrapper {
  width: 100px;
  position: relative;
}

.role {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: black;
  border: 1px solid;
  padding: 3px;
  border-radius: 50%;

  path {
    fill: white;
  }
}

.icon {
  height: 60px;
  background: no-repeat center / cover;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid;
  box-shadow: 0 0 3px 1px #fff;
}

.name {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
