.wrapper {
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background: url('../public/sides.jpg') no-repeat center / cover;
}

.cup {
  color: black
}

.buttons {
  width: 100%;
  margin-top: 9px;
}
