::-webkit-scrollbar,
.rc-virtual-list-scrollbar-thumb {
  width: 7px !important;
}

::-webkit-scrollbar-thumb,
.rc-virtual-list-scrollbar-thumb {
  background: #c4c2c2 !important;
  border-radius: 10px !important;
}
